export(AdaSubBoost)
export(EBIC)
export(EBIC_beta)
export(SubBoost)
export(beta.hat)
export(method_res_scenario)
export(simdata.toeplitz.corr)
export(sqnorm2)
export(y.hat)
importFrom("leaps", "regsubsets")

importFrom("graphics", "par")
importFrom("stats", ".lm.fit", "cor", "rbinom", "rnorm", "toeplitz")

